<% unless question.user == current_user %>
  <a href="#" class="right collapse_button opened"></a>
  <div class="question_options right">
    <ul class="unstyled">
      <li><%= link_to( "Block", user_block_path(:user_id => current_user, :blocked_user_id => question.user.id), :confirm => "Are you sure?") unless question.user.nil? %></li>
      <li><%= link_to "Report", class_question_path(question.offering, question, :"question[reported]" => true, :reported => true), remote: true, method: :put, :confirm => "Are you sure?" %></li>
    </ul>
  </div>
<% end %>
