<p>
Congratulations! You’ve been invited to join Studyhall – the smartest platform to share content with your classmates and make your academic life easier.
</p>
<p>
With Studyhall, you can easily add your courses, connect with classmates, and share your notes so that your college experience is much better.
</p>
<p>
Be part of your campus.  <%= link_to "Sign into Studyhall today.", @url %>
</p>
<p>
-Ross and Ben <br/>
Co-Founders, Studyhall.com 
</p>