<p>
<%= link_to @posting.user.name.titleize, "http://#{APP_CONFIG['host']}/" + @posting.user.custom_url %> just commented on your post in <%= link_to @question.offering.course.title, class_url(@question.offering.id) %>. Check it out <%= link_to "here", class_url(@question.offering.id) %>. 
</p>
