
<p> <%=@inviter.first_name %> added you as a classmate for your class, <%=@offering.course.title%>.
<%= link_to 'Check out your class page today', @url %> 
and start sharing and studying with <%= @inviter.name %>! </p>
