<p>
  <%= link_to @commenter.name.titleize, "http://#{APP_CONFIG['host']}/" + @commenter.custom_url %> just commented on you post on the <%= link_to @post.group.group_name, group_url(@post.group) %> page.
</p>

<p>
<br/>
- Your friends at StudyHall
</p>
