<p><%= @sender.name.titleize %> has invited you to a studyhall.<p>

<p>Click <%= link_to "here", @url %>to join them</p>
<p>
  Studyhalls are a great way to study with your friends in real time, take notes together, and have fun.
</p>
<p>
	<br/>
	-Your friends at StudyHall
</p>