<p><%= @requester.name.titleize %> wants to be your study buddy and interact with you on StudyHall. </p>
<p>Click <%= link_to "here", @requester.custom_url %> to check out their profile and figure out if they're worthy!</p>
<p> <br/>
	- Your friends at StudyHall
</p>