<p>We’re going to launch at your school soon. In the meantime, click to <%=link_to "like our Facebook page", '#' %> or <%= link_to "share the word", '#' %> about Studyhall with a tweet.   With all the love from you, we’ll be sure to get to your campus soon!
 </br>
-Your friends at Studyhall 
</p>
