<table class="authentication_services">
  <tr>
    <td>
      <%= link_to '/auth/facebook', class: 'auth_provider' do %>
        <%= image_tag 'icons/auth_buttons/big log in.png', alt: 'Facebook' %>
      <% end %>
    </td>
    <td>
      <%= link_to '/auth/google', class: 'auth_provider' do %>
        <%= image_tag 'icons/auth_buttons/google button.png', alt: 'Google' %>
      <% end %>
    </td>
  </tr>
</table>