<!--<div class="input">
<!--Xinyi will review this code -->
    <%= f.label :courses %>
    <%= f.collection_select :offering_ids, current_user.school.offerings, :id, :name, {}, {'multiple' => true, :'data-placeholder' => 'Select your courses'} %>
  </div>-->

