<div class="row show-grid">
  <div class="span8 columns offset4">
    <div class="single-form">
      <div class="header">
        <h3>Sign Up</h3>
      </div>
	<%= flash[:notice]%>
    </div>
  </div>
</div>
