<% message = "'Join me on StudyHall so we can share notes, study online, and swap course information! #{root_url}'"%>

<div id="fb-root"></div>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script>

$(document).ready(function(){
	
   $("#facebook_invite").live('click', function(e){

	FB.init({
	    appId  : '<%= APP_CONFIG["facebook"]["app_id"] %>',
		xfbml : true,
	    status : true,
	    cookie : true,
	    oauth: true
	  });
	  FB.ui({
		method: 'apprequests',
      	message: "I just signed up for a StudyHall account! Get on my level by visiting StudyHall.com! #getyourstudyon"
      }, requestCallback);

   });
 });




  function requestCallback(response) {
    // Handle callback here
  }

 
</script>
