<tr>
	<td>
		<div id="new_prof_last" style="width: 170px; display:inline-block; margin-right:10px; margin-bottom:10px">
			<h7>Professor Last Name</h7>
			<input type="text" name="new_prof_last" id="new_prof_last" style="width:170px"/>
		</div>
	</td>
	<td>
		<div id="new_prof_first" style="width: 170px; display:inline-block; margin-bottom:10px">
			<h7>Professor First Name</h7>
			<input type="text" name="new_prof_first" id="new_prof_first" style="width:170px"/>
		</div>
	</td>
</tr>